<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ybao.qrcode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NCodeActivity" android:label="普通二维码"/>
        <activity android:name=".RCodeActivity" android:label="圆点二维码"/>
        <activity android:name=".SRCodeActivity" android:label="随机大小圆点二维码"/>
        <activity android:name=".RRCodeActivity" android:label="液化二维码"/>
        <activity android:name=".BCodeActivity" android:label="多边形二维码"/>
        <activity android:name=".STCodeActivity" android:label="多角星二维码"/>
        <activity android:name=".BitmapCodeActivity" android:label="图像二维码"/>
    </application>

</manifest>
